.cord-container{
    background: linear-gradient(106.83deg, #1e00ff 5.59%, #5828E0 90.5%),
    linear-gradient(0deg, #26214D, #26214D);
    width: 1080px;
    height: 700px;
    position: absolute;
    top: 0;
    margin-top: 50px;
}
.closeCord{
    border-radius: 15px;
    border: none;
    width: 30px;
    height: 30px;
    margin-left: 1050px;
}
.closeCord:hover{
    background-color: #5828E0 ;
    transition: all 1s;
    transform:rotate(360deg) ;
    cursor: pointer;
    
}
.op{
    font-size: 36px;
    font-weight: 800;
    color: white;
    margin-left: 400px;
}
.rew{
    color: white;
    font-size: 25px;
    font-weight: 600;
}